/*   All settings   */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    background: url("../../images/bck-img.jpeg") no-repeat center fixed;
    background-size: cover;
    overflow: hidden;
}

body:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    background: url("../../images/bck-img.jpeg") no-repeat center fixed;
    background-size: cover;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(0%);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    outline: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.8125em;
}

h3 {
    font-size: 1.4375em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.6875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

a {
    display: block;
    outline: none;
    text-decoration: none;
}

/*   wrapper   */

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper-1 .wr-header,
.wrapper-3 .wr-footer {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
}

.wrapper-1 .wr-left,
.wrapper-1 .wr-right {
    width: 100%;
    max-width: 500px;
    height: 100%;
    align-items: center;
}

.wrapper-1 .wr-right {
    padding: 0 .625rem;
}

.wrapper-1 .wr-left,
.wrapper-3 .wr-left,
.wrapper-3 .wr-right {
    padding: 0 .9375rem;
}

.wrapper-1 .wr-middle {
    width: 100%;
    max-width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper-1 .wr-left {
    justify-content: flex-start;
}

.wrapper-1 .wr-right {
    justify-content: flex-end;
}

/*   wrapper-1   */

.wrapper-1 {
    width: 100%;
    height: 100%;
}

.wrapper-1 .wr-header {
    top: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.wrapper-1 .wr-left img {
    max-width: 200px;
}

.wrapper-1 .wr-middle a {
    animation: MoveUpDown 0.5s ease-in-out infinite;
}

.wrapper-1 .wr-right a.back,
.wrapper-1 .wr-middle a {
    filter: grayscale(50%);
}

.wrapper-1 .wr-middle a {
    display: none;
}

.wrapper-1 .wr-right a {
    padding: 0 .3125rem;
    filter: grayscale(100%);
}

.wrapper-1 .wr-right a:hover,
.wrapper-1 .wr-right a:focus,
.wrapper-1 .wr-right a:active,
.wrapper-1 .wr-middle a:hover,
.wrapper-1 .wr-middle a:focus,
.wrapper-1 .wr-middle a:active {
    filter: grayscale(0);
}

.wrapper-1 .wr-right a img {
    max-width: 32px;
}

/*   wrapper-2   */

.wrapper-2 {
    position: absolute;
    top: 85px;
    bottom: 85px;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
}

/*   wrapper-3   */

.wrapper-3 {
    width: 100%;
    height: 100%;
}

.wrapper-3 .wr-footer {
    bottom: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.wrapper-3 .wr-right ul li {
    padding: .1875rem 0;
    justify-content: flex-end;
    text-transform: uppercase;
}

.wrapper-3 .wr-right h6 span {
    border-bottom: 1px dotted #fff;
}

/*   Loading   */

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000 url("../../images/loading.gif") no-repeat center;
}

/*   scroll-bar   */

.wrapper-2::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.6);
}

/*   media   */

@media screen and (max-width: 992px) {

    .wrapper-1 .wr-header .wr-left img {
        max-width: 170px;
    }

    .wrapper-1 .wr-header .wr-middle a img,
    .wrapper-1 .wr-header .wr-right a img {
        max-width: 26px;
    }

    .wrapper-1 .wr-middle a {
        display: block;
    }

    h1 {
        font-size: 1.8125em;
    }

    h2 {
        font-size: 1.4375em;
    }

    h3 {
        font-size: 1.125em;
    }

    h4 {
        font-size: 0.875em;
    }

    h5 {
        font-size: 0.6875em
    }

    h6 {
        font-size: 0.5625em;
    }

}

@media screen and (max-width: 600px) {

    .wrapper-1 .wr-header .wr-left img {
        max-width: 140px;
    }

    .wrapper-1 .wr-header .wr-middle {
        order: 2;
    }

    .wrapper-1 .wr-header .wr-middle a img,
    .wrapper-1 .wr-header .wr-right a img {
        max-width: 20px;
    }

    .wrapper-1 .wr-header,
    .wrapper-3 .wr-footer{
        flex-direction: column;
    }

    .wrapper-1 .wr-left,
    .wrapper-1 .wr-right {
        justify-content: center;
    }

    .wrapper-2 {
        overflow-x: auto;
    }

    .wrapper-3 .wr-footer {
        justify-content: center;
    }

    .wrapper-3 .wr-footer .wr-left,
    .wrapper-3 .wr-footer .wr-right {
        margin: .1875rem 0;
    }

    .wrapper-3 .wr-right ul li {
        justify-content: center;
    }

    h1 {
        font-size: 1.4375em;
    }

    h2 {
        font-size: 1.125em;
    }

    h3 {
        font-size: 0.875em;
    }

    h4 {
        font-size: 0.6875em;
    }

    h5 {
        font-size: 0.5625em
    }

    h6 {
        font-size: 0.5em;
    }

}