/*   wrapper-2   */

.wrapper-2 {
    flex-flow: column wrap;
}

/*  wrapper-content-1 */

.wrapper-2 .wr-content-1 {
    flex: 35%;
    justify-content: center;
    align-items: center;
}

.wr-title {
    padding: 0 .625rem;
    text-align: center;
    text-transform: uppercase;
}

.wr-title h2 {
    font-weight: 900;
}

/*  wrapper-content-2 */

.wrapper-2 .wr-content-2{
    flex: 65%;
    justify-content: center;
    text-transform: uppercase;
}

.wrapper-2 .wr-items {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-2 .wr-item {
    width: 50%;
    height: 100%;
    outline: none;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    border-bottom: none;
    overflow: hidden;
}

.wrapper-2 .wr-item:nth-child(1) {
    border-right: none;
}

/*.wrapper-2 .wr-item:nth-child(2) {*/
/*    border-right: none;*/
/*}*/

.wrapper-2 .wr-item .wr-box {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    text-align: center;
}

.wrapper-2 .wr-item .wr-box h4 {
    font-weight: 500;
}

.wrapper-2 .wr-box:hover,
.wrapper-2 .wr-box:focus,
.wrapper-2 .wr-box:active {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
}

.wrapper-2 .wr-item i {
    font-size: 3.1em;
    animation: MoveUpDown 1s ease-in-out infinite;
}

/*   @media   */

@media screen and (max-width: 992px) {

    .wrapper-2 .wr-item {
        width: 100%;
        height: 50%;
    }

    .wrapper-2 .wr-box i {
        font-size: 2.3em;
    }

    .wrapper-2 .wr-item:nth-child(1) {
        border-right: 1px solid rgba(255,255,255,0.1);
    }

    /*.wrapper-2 .wr-item:nth-child(1) {*/
    /*    border-bottom: 1px solid rgba(255,255,255,0.1);*/
    /*}*/

    /*.wrapper-2 .wr-item:nth-child(2) {*/
    /*    border-bottom: 1px solid rgba(255,255,255,0.1);*/
    /*}*/

    /*.wrapper-2 .wr-item:nth-child(3) {*/
    /*    border-top: none*/
    /*}*/

}

@media screen and (max-width: 600px) {

    .wrapper-2 .wr-box i {
        font-size: 1.5em;
    }

    /*.wrapper-2 .wr-item:nth-child(1) {*/
    /*    border-right: 1px solid rgba(255,255,255,0.1);*/
    /*    border-bottom: none;*/
    /*}*/

    /*.wrapper-2 .wr-item:nth-child(2) {*/
    /*    border-right: 1px solid rgba(255,255,255,0.1);*/
    /*}*/

}