/*   wr-content-1   */

.wrapper-2 .wr-content-1 {
    flex-direction: column;
    flex: 70%;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.wrapper-2 .wr-header {
    flex: 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
}

.wrapper-2 .wr-header .wr-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.wrapper-2 .wr-header .text-block {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    text-transform: uppercase;
}

.wrapper-2 .wr-header .text-block h2 {
    font-weight: 900;
}

.wrapper-2 .wr-header .wr-image img {
    max-width: 100%;
}

.wrapper-2 .wr-middle {
    flex: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    overflow-y: auto;
    padding: .625rem 1.5625rem;
    transition: 0.3s;
}

.wrapper-2 .wr-middle {
    padding-bottom: 0;
}

.wrapper-2 .wr-middle:hover,
.wrapper-2 .wr-middle:focus,
.wrapper-2 .wr-middle:active {
    background-color: rgba(0,0,0,0.6);
}

.wrapper-2 .wr-middle ul {
    list-style-type: disc;
}

.wrapper-2 .wr-middle .big {
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    font-weight: 700;
}

.wrapper-2 .wr-middle ul li ul {
    text-align: left;
    list-style-type: decimal;
    padding: .625rem .9375rem;
}

.wrapper-2 .wr-middle ul li ul li {
    padding-bottom: .625rem;
    margin: 0 10px
}

.wrapper-2 .wr-middle ul li ul li h5 {
    font-weight: 500;
}

.wrapper-2 .wr-middle ul li ul li:nth-last-child(1) {
    padding-bottom: 0;
}

/*   wr-content-2   */

.wrapper-2 .wr-content-2 {
    flex: 30%;
}

/*   swiper   */

.wrapper-2 .swiper-container-v {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper-2 .swiper-container-h {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}

.wrapper-2 .swiper-slide {
    overflow: hidden;
}

.wrapper-2 .swiper-slide img {
    max-width: 400px;
    transition: 1s;
}

.wrapper-2 .swiper-slide .figure {
    overflow: hidden;
}

.wrapper-2 .swiper-slide a:hover img,
.wrapper-2 .swiper-slide a:focus img,
.wrapper-2 .swiper-slide a:active img {
    transform: scale(1.05);
}

.wrapper-2 .swiper-slide {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: .375rem;
}

/*   lightbox   */

.lightbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightboxOverlay {
    outline: none;
}

.lightbox .lb-image {
    border: 1px solid rgba(255,255,255,0.1);
}

/*   @media   */

@media (max-width: 992px) {

    .wrapper-2 {
        flex-direction: column;
    }

    .wrapper-2 .wr-content-1 {
        flex: 100%;
        border: none;
    }

    .wrapper-2 .swiper-container-v {
        display: none;
    }

    .wrapper-2 .swiper-container-h {
        display: block;
    }

    .wrapper-2 .swiper-container-h .swiper-slide img {
        max-width: 300px;
    }

    .wrapper-2 .wr-content-2 {
        flex: 0;
        order: -1;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

}

@media (max-width: 600px){

    .wrapper-2 .swiper-container-h .swiper-slide img {
        max-width: 200px;
    }

    .wrapper-2 .wr-middle ul {
        list-style-type: none;
        padding: 0 .9375rem;
    }

    .wrapper-2 .wr-middle ul li ul {
        text-align: justify;
        list-style-type: none;
    }

    .wrapper-2 .wr-middle .big {
        text-align: center;
    }

}

@media (max-height: 500px){

    .wrapper-2 {
        flex-direction: column;
    }

    .wrapper-2 .wr-content-1 {
        flex: 100%;
        border: none;
    }

    .wrapper-2 .swiper-container-v {
        display: none;
    }

    .wrapper-2 .swiper-container-h {
        display: block;
    }

    .wrapper-2 .wr-content-2 {
        flex: 0;
        order: -1;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    .wrapper-1 .wr-middle a {
        display: block;
    }

}