/*   wrapper-2  */

.wrapper-2 .wr-content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper-2 .wr-box-items {
    width: 33.33%;
    height: 50%;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    outline: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.wrapper-2 .wr-box-items:nth-child(1) {
    border-right: none;
}

.wrapper-2 .wr-box-items:nth-child(2) {
    border-right: none;
}

.wrapper-2 .wr-box {
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.wrapper-2 .wr-box-footer {
    opacity: 0;
    position: absolute;
    width: 33.2%;
    height: 49.5%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper-2 .wr-box-items:hover .wr-box-footer,
.wrapper-2 .wr-box-items:focus .wr-box-footer,
.wrapper-2 .wr-box-items:active .wr-box-footer {
    background-color: rgba(0,0,0,0.6);
    opacity: 1;
}

.wrapper-2 .wr-box-items:hover .wr-box,
.wrapper-2 .wr-box-items:focus .wr-box,
.wrapper-2 .wr-box-items:active .wr-box {
    opacity: 0;
}

.wrapper-2 .wr-box .big {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.wrapper-2 .wr-box-items .wr-box-footer a {
    font-weight: 500;
    font-size: 1.125em;
    color: #fff;
}

.wrapper-2 .wr-box-items .wr-box-footer a:hover,
.wrapper-2 .wr-box-items .wr-box-footer a:focus,
.wrapper-2 .wr-box-items .wr-box-footer a:active {
    text-decoration: underline;
}

/*   media   */

@media screen and (max-width: 992px) {

    .wrapper-1 .wr-middle a {
        display: none;
    }

    .wrapper-2 .wr-box-items,
    .wrapper-2 .wr-box-footer {
        width: 50%;
    }

    .wrapper-2 .wr-box-items .wr-box-footer a {
        font-size: 0.875em;
    }

    .wrapper-2 .wr-box-items:nth-child(1) {
        border-top: none;
    }

    .wrapper-2 .wr-box-items:nth-child(2) {
        border-right: 1px solid rgba(255,255,255,0.1);
        border-top: none;
    }

    .wrapper-2 .wr-box-items:nth-child(3) {
        border-top: none;
        border-bottom: none;
    }

}

@media screen and (max-width: 600px) {

    .wrapper-2 .wr-box-items,
    .wrapper-2 .wr-box-footer {
        height: 33.33%;
        width: 100%;
    }

    .wrapper-2 .wr-box-items .wr-box-footer a {
        font-size: 0.6875em;
    }

    .wrapper-2 .wr-box-items:nth-child(1),
    .wrapper-2 .wr-box-items:nth-child(2) {
        border-right: rgba(255,255,255,0.1);
    }

}

@media screen and (max-height: 350px) {

    .wrapper-2 .wr-box-items {
        height: 100%;
    }

    .wrapper-2 .wr-box-footer {
        height: 100%;
    }

    .wrapper-1 .wr-middle a {
        display: block;
    }

}